// Body
$body-bg: #ffffff;

// Tekstkleur
//$text-color: #ffffff;

.navbar {
    background-color: #000000; /* Achtergrondkleur zwart */
    color: #ffffff; /* Tekstkleur wit */
}
.navbar-nav .nav-item.active .nav-link {
    border-bottom: 2px solid #000000; /* Vervang "yourColor" door de gewenste kleur van de onderstreping */
}


// Typography
$font-family-sans-serif: 'Amiri Quran', sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

